{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Customer Record
    </div>
    <ul class="list-group list-group-flush">
      <div class="list-group-item">{{customer_record.first_name}} {{customer_record.last_name}}</div>
      <div class="list-group-item">{{customer_record.email}}</div>
      <div class="list-group-item">{{customer_record.phone}}</div>
      <div class="list-group-item">{{customer_record.address}}</div>
      <div class="list-group-item">{{customer_record.city}}</div>
      <div class="list-group-item">{{customer_record.state}}</div>
      <div class="list-group-item">{{customer_record.zipcode}}</div>
      <div class="list-group-item">{{customer_record.created_at}}</div>
    </ul>
  </div>

  <br/>
  <div>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'update_record' customer_record.id %}" class="btn btn-success">Edit</a>
    <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
  </div>

</div>
  
{% endblock %}


